# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Large ML/data files
data/
models/
recordings/

# Temporary files
*.log

# dataset
recordings/
datasets/player_detection/images/
datasets/player_detection/labels/

runs/
*.pt